body {
    background-color: grey;
}

nav {
    background-color: #e3f2fd;
}

main {
    background-color: teal;
    height: 600px;

}

main #main-form {
    background-color: whitesmoke;
}

main #main-calender {
    background-color: orange;

}

div #logpost {
    background-color: orchid;
}

ul li{
    list-style: none;
}

ul li input{
    padding-left: 2px;
}